[Unit]
Description=SEDA Cosmos Accelerator
Wants=network-online.target
After=network-online.target

[Service]
User=ec2-user
Type=simple
ExecStart=/home/ec2-user/seda-cosmos-accelerator start -p 5384 -s localhost:26657
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
